[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
starlette = ">=0.49.1"
tensorflow-cpu = "*"
numpy = "*"
scikit-image = "*"
python-dotenv = "*"
keras = ">=3.12.0"

[dev-packages]
tensorflow-datasets = "*"
matplotlib = "*"
opencv-python = "*"
imutils= "*"
httpx="*"
pygame-ce = "2.4.1"
httpx-retries="*"

[requires]
python_version = "3.11"

[scripts]
create="python -m create_model"
game-local="python -m pygame_ui_local"
gh-pages="bash -c './gh-pages.sh'"
api="bash -c './web_dev.sh'"
api-prod="python -m fastapi run number_reader.py --port 8080"
api-split="bash -c './web_dev_split.sh'"
api-reader="python -m fastapi dev number_reader.py --port 8080"
api-ui="bash -c './web_dev_ui_only.sh'"
