[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
tensorflow-cpu="*"
numpy = "*"
scikit-image = "*"
python-dotenv = "*"

[dev-packages]
tensorflow-datasets = "*"
matplotlib = "*"
opencv-python = "*"
imutils= "*"
httpx="*"
pygame-ce = "2.4.1"
httpx-retries="*"

[requires]
python_version = "3.11"

[scripts]
create="python -m create_model"
use="python -m use_model"
game-local="python -m pygame_ui"
noise="python -m noise"
gh-pages="bash -c './gh-pages.sh'"
api-dev="bash -c './web_dev.sh'"
api-dev-reader="python -m fastapi dev number_reader.py --port 8080"
api-prod="python -m fastapi run number_reader.py --port 8080"
api-dev-split="bash -c './web_dev_split.sh'"
