body {
  font-family: "VT323", monospace;
  height: 100%;
  background-color: black;
  overflow-y: hidden;
  color: rgb(0, 255, 102);
}

dialog {
  color: rgb(0, 255, 102);
}

#matrix {
  z-index: -1;
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
}

.page {
  height: 100%;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
}

.pygame-container {
  border-radius: 25px;
  background-color: black;
  border: 2px solid rgb(170,170,170);
  padding: 0px 20px 0px 20px;
}

.pygame-canvas {
  border: 2px solid rgb(170,170,170);
  border-radius: 25px;
  padding: 10px;
}